* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #1ebfc1;
}

/* common */

.heading {
    font-weight: 700;
    color: #0d1111;
}

.fz62 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.fz42 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.fz22 {
    font-size: 2.2rem;
    line-height: 1.5;
}

.btn {
    min-width: 108px;
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 48px;
    text-align: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

/* header */
.header {
    padding: 52px 0 12px;
}
.header.sticky {
    position: sticky;
    top: -40px;
    z-index: 999;
}
.header .body {
    position: relative;
    display: flex;
    align-items: center;
}

.header .body .nav-menu {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 40px;
}

.header .body .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header .nav-menu a,
.header .actions .sign-in {
    font-size: 1.6rem;
    color: #494949;
}

.header .nav-menu a:hover,
.header .nav-menu li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #2f3a3b;
}

.header .actions .sign-up {
    margin-left: 24px;
}

/* hero */

.hero {
    padding: 38px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .hero-content {
    width: 39.2%;
}

.hero .hero-images {
    width: 60.8%;
}

.hero .hero-content .sub-title {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #767e7e;
}

.hero .hero-content .title {
    width: 100%;
    margin-top: 18px;
}

.hero .hero-content .desc {
    white-space: pre-line;
    max-width: 374px;
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .actions {
    display: flex;
    align-items: center;
}

.hero .actions {
    margin-top: 52px;
}

.hero .actions .hero-btn {
    min-width: 186px;
    line-height: 68px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 14px;
}

.hero .watch-video {
    width: 62px;
    height: 62px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero .watch-video:hover {
    box-shadow: 0px 22px 50px rgba(80, 80, 80, 0.2);
    cursor: pointer;
}

.hero .actions .watch-video img {
    object-fit: cover;
}

.hero .hero-images {
    position: relative;
}

.hero .hero-images .img {
    margin-left: 136px;
    max-width: 576px;
    height: 641px;
    width: 100%;
    object-fit: cover;
}

.hero .hero-images .courses {
    position: absolute;
    display: flex;
    align-items: center;
    width: 157px;
    height: 75px;
    left: 96px;
    top: 149px;
    padding: 17px 23px 18px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero .courses {
    position: relative;
}

.hero .courses .title {
    margin-left: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero .courses::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 28px;
    height: 4px;
    left: 27px;
    top: 45px;
    background: #ffffff;
    border-radius: 4px;
}
/* schedules */

.hero .schedules {
    position: absolute;
    width: 124px;
    height: 131px;
    left: 71px;
    bottom: 46px;
    padding: 16px 25px 23px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    background: #fff;
}

.hero .schedules .title {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.hero .schedules .ratio {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.hero .schedules .ratio li.done-ratio::before {
    display: block;
    content: "";
    width: calc(79px * (var(--done-ratio, 10) / 100));
    height: 6px;
    top: 0;
    left: 0;
    background: #fb9899;
    border-radius: 3px;
}

.hero .schedules .ratio li {
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero .schedules .ratio li:last-of-type {
    width: 26px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
}

.hero .students {
    padding: 17px 35px;
    position: absolute;
    width: 207px;
    height: 90px;
    right: 45px;
    bottom: 41px;
    background: #ffffff;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .students .title {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.hero .students .avatar-block {
    margin-top: 8px;
    display: flex;
    overflow: hidden;
}

.hero .students .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .students .avatar:not(:first-child) {
    margin-left: -7px;
}

/* features */

.features {
    padding: 65px 0;
    margin-top: 65px;
}

.features .sub-title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .title {
    margin-top: 18px;
    max-width: 577px;
}

.features .desc {
    margin-top: 18px;
    max-width: 590px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.features .list {
    margin-top: 80px;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
}

.features .item .icon {
    width: 102px;
    height: 106px;
    object-fit: cover;
    background: #ffc147;
    border-radius: 18px;
}

.features .item .item-title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.features .item .item-desc {
    max-width: 225px;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #9da6a5;
}

/* courses */
.courses {
    padding: 65px;
}

.courses .sub-title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}

.courses .title {
    margin-top: 18px;
}

.courses .row {
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
    align-items: center;
}

.courses .row .desc {
    max-width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.courses .row .link {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.courses .list-courses {
    margin-top: 79px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.courses .list-courses .images {
    width: 100%;
    height: 393px;
    opacity: 0.35;
    border-radius: 8px;
    object-fit: cover;
}

.courses .courses-item {
    position: relative;
    height: 517px;
    display: flex;
    justify-content: center;
}

.courses .courses-item:hover .images {
    opacity: 1;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
}

.courses .info {
    position: absolute;
    width: 325px;
    max-width: 100%;
    height: 195px;
    padding: 18px 25px 29px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    left: auto;
    bottom: 0;
}

.courses .info .item-title a {
    color: #0d1111;
}

.courses .info .price {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #767e7e;
}

.courses .info .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.courses .info ul {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.courses .info li {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
    line-height: 21px;
    color: #9da6a5;
}

.courses .info li::before {
    position: absolute;
    display: flex;
    content: "";
    width: 6px;
    height: 6px;
    left: 1px;
    bottom: 8px;
    border-radius: 50%;
    background: #1ebfc1;
}

/* Statistics */

.stats {
    margin-top: 135px;
    padding: 65px 0;
}

.stats .stats-list {
    max-width: 862px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.stats .stats-item .value {
    line-height: 1.5;
}

.stats .stats-item .desc {
    margin-top: 11px;
    font-size: 18px;
    text-align: center;
    color: #767e7e;
}

/* students */
.students {
    padding: 65px 0;
    margin-top: 135px;
}

.students .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.students .comment {
    width: 36%;
}

.students .comment blockquote {
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.students .comment .name {
    margin-left: 12px;
    position: relative;
    display: inline-block;
    margin-top: 33px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}
.students .comment .name::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    left: -12px;
    top: 10px;
    background: #070707;
}

.students .name strong {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #070707;
}

.students .actions {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.students .actions button {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    border: none;
    background: var(--primary-color);
    cursor: pointer;
}

.students .actions button:hover {
    opacity: 0.8;
}

.students .student-avatars .avatar {
    width: var(--width-avatar, 78px);
    height: var(--width-avatar, 78px);
    border-radius: 50%;
    object-fit: cover;
    background: #e99aff;
}

.students .student-avatars {
    position: relative;
    width: 64%;
    height: 481px;
}

.students .student-avatars .avatar:nth-child(6) {
    position: absolute;
    top: 107px;
    left: 345px;
}
.students .student-avatars .avatar:nth-child(5) {
    position: absolute;
    top: 19px;
    right: 0;
}
.students .student-avatars .avatar:nth-child(4) {
    position: absolute;
    top: 0;
    left: 216px;
}
.students .student-avatars .avatar:nth-child(3) {
    position: absolute;
    top: 258px;
    left: 72px;
}
.students .student-avatars .avatar:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 284px;
}
.students .student-avatars .avatar:nth-child(1) {
    position: absolute;
    right: 32px;
    bottom: 29px;
}

/* Invitation */

.invitation {
    margin-top: 130px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.invitation .row {
    max-width: 1016px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invitation .desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.invitation .invitation-btn {
    min-width: 186px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 14px;
    line-height: 66px;
    font-weight: 600;
    font-size: 1.8rem;
}

/* footer */

.footer {
    margin-top: 131px;
    padding-bottom: 50px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .logo {
    max-width: 23%;
}

.footer .body {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.footer a {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #535353;
}

.footer .body .heading {
    color: #2e2e2e;
}

.footer .column {
    display: flex;
    flex-direction: column;
}

.footer .column li:not(:first-child) {
    margin-top: 20px;
}

.footer .column li:first-child {
    margin-bottom: 25px;
}

.footer .social li {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.footer .social img {
    margin-right: 9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: scale-down;
}

.copyright {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.copyright p {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #b0b5b4;
}
